@mathcrowd:registry=https://cloud.mathcrowd.cn:2443/api/v4/packages/npm/
//cloud.mathcrowd.cn:2443/api/v4/packages/npm/:_authToken=${GITLAB_AUTH_TOKEN}
//cloud.mathcrowd.cn:2443/api/v4/projects/:_authToken=${GITLAB_AUTH_TOKEN}
//cloud.mathcrowd.cn:2443/api/v4/projects/31/packages/npm/:_authToken=${GITLAB_AUTH_TOKEN}
always-auth=true

