# Pycharm
.idea

node_modules

# testing
coverage
test
.setupTest.js

#eslint
.eslintcache
.eslintrc.js
jest.config.js

# neutrinorc.js
.neutrinorc.js

# webpack
webpack.config.js


npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
